<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link  href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">

  <link  href="{{url_for('static', filename='icofont.min.css')}}" rel="stylesheet">

  <link  href="{{url_for('static', filename='owl.carousel.min.css')}}" rel="stylesheet">

  
  
  <link  href="{{url_for('static', filename='boxicons.min.css')}}" rel="stylesheet">
  <link  href="{{url_for('static', filename='venobox.css')}}" rel="stylesheet">
  <link  href="{{url_for('static', filename='aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->

  <link  href="{{url_for('static', filename='style.css')}}" rel="stylesheet">


</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="#">Speech Emotion Detection</a></h1>
      </div>
      <a href="{{ url_for('index') }}" class="download-btn"> Upload File</a>
      
      &nbsp;&nbsp;
      
      <a class="download-btn" href="#" onclick="playaudio()" >Play </a>
            
     
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>You are feeling {{data}}  </h1>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">

          <img src="{{url_for('static', filename=data+'.jpg')}}" class="img-fluid" alt="" />
        </div>
       </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->
 

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">
      <div class="copyright">
        For any query ,contact at  <strong><span>  daniyal.bcs18@iba-suk.edu.pk</span></strong>
      </div>
      <div class="credits">
 
        Designed by <a href="#">Muhammad Daniyal Qureshi</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  

  <!-- Vendor JS Files -->

  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
  
  <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>

  <script src="{{url_for('static', filename='jquery.easing.min.js')}}"></script>

  <script src="{{url_for('static', filename='owl.carousel.min.js')}}"></script>

  <script src="{{url_for('static', filename='venobox.min.js')}}"></script>

  <script src="{{url_for('static', filename='aos.js')}}"></script>


  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='main.js')}}"></script>
  
  <script>

    function playaudio()
    {
      var audio=new Audio("{{url_for('static', filename=path)}}");
      audio.play();
    }
    
  </script>
  




</body>

</html>